/* rgb color */
header {
    background-color: rgb(20, 96, 235); 
  }
  
  /* hex color */
  section h2 {
    color: #279e5a; 
  }
  
  /* hsl color */
  footer {
    background-color: hsl(0, 0%, 20%);
    color: rgb(255, 255, 255);
  }
  
  /* color name */
  ul li {
    color: orange;
  }
  
  /* wider-gamut color */
  audio {
    background-color: color(display-p3 0 1 0); 
  }
  
  /* color-mix */
  p {
    color: color-mix(in srgb, blue 60%, white 40%);
  }


:root {
    --main-bg: hsl(283, 81%, 39%);
    --accent-color: rgb(189, 127, 13);
  }
  
  /* fallback */
  body {
    background-color: var(--main-bg, #f0f0f0);
    color: var(--accent-color, black);       
  }
  section {
    background-color: var(--sec-bg, #e0e0e0); 
  }
  
  

/* Absolute units*/
header {
    padding: 10px;         
    border-width: 0.1in;  
    margin-bottom: 5cm;   
  }
  
  /* Relative units */
  body {
    font-size: 2rem;       
    line-height: 1.5em;    
    padding: 10%;           
  }
  



/* Margins: longhand */
header {
    margin-top: 30px;
    margin-right: 18px;
    margin-bottom: 30px;
    margin-left: 18px;
  }
  
  /* Margin auto */
  main {
    margin: 30px auto; 
  }
  
  /* Padding: longhand */
  section {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
  }
  
  /* Padding: shorthand */
  footer {
    padding: 5px 10px 5px 10px; 
  }
  
  /* Borders */
  header {
    border-style: solid;
    border-color: rgb(24, 21, 21);
    border-width: 4px;
    border-radius: 12px;
  }
  
  section {
    border-style: dashed;
    border-color: rgb(228, 11, 145);
    border-width: 2px;
    border-radius: 3px;
  }
  
  